@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: #222;
  color: #eee;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: min(100%, 1200px);
  margin: auto;
}

header {
  margin: 1.5rem 0 2.5rem;
  position: relative;
  position: relative;
}
header .nav-icon {
  font-size: 1.7rem;
  position: absolute;
  cursor: pointer;
}
header h1 {
  text-align: center;
  font-size: 2.5rem;
}
header #settings {
  top: 50%;
  right: 30px;
  translate: 0 -50%;
  transition: rotate 250ms;
}
header #settings:hover {
  rotate: 90deg;
}
header #nav-home {
  top: 50%;
  left: 30px;
  translate: 0 -50%;
}

section {
  padding: 2rem 1rem;
  border-top: 1px solid #ec7404;
  position: relative;
}
section#search input {
  padding: 10px;
  font-size: 1rem;
  color: #222;
  margin: auto;
  display: block;
  border-radius: 10px;
  border: none;
  width: min(100%, 400px);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: outline 60ms;
}
section#search input:focus, section#search input:hover {
  outline: 2px solid #ec7404;
}
section#search #result-count {
  margin: 0.7rem 0;
}
section h2.section-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -60%);
  background: #222;
  padding: 0 1rem;
  white-space: nowrap;
}
section ul.competitions-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
}
section ul.competitions-list li a {
  height: 100%;
  display: block;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
}
section ul.competitions-list li a:hover p {
  color: #2f2f2f;
}
section ul.competitions-list li a h3 {
  font-size: 1.1rem;
  color: #eee;
}
section ul.competitions-list li a p {
  font-size: 0.7rem;
  color: #999;
  transition: color 200ms;
}
section ul#date-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
section ul#date-list ul.competitions-list {
  margin: 1rem 0;
}
section ul#date-list details[open] summary::before {
  rotate: 90deg;
}
section ul#date-list summary {
  font-size: 1.4em;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  color: #bbb;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: monospace;
  transition: color 200ms;
}
section ul#date-list summary::-webkit-details-marker {
  display: none;
}
section ul#date-list summary::before {
  content: "▶";
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: inline-block;
  margin-right: 5px;
  transition: rotate 100ms;
}
section ul#date-list summary:hover {
  color: #eee;
}
section#classes {
  padding-bottom: 1rem;
}
section#classes ul {
  display: flex;
  overflow-x: scroll;
  gap: 1rem;
  padding-right: 2px;
  padding-bottom: 15px;
}
section#classes ul a {
  white-space: nowrap;
  display: block;
  border: 1px solid #ec7404;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  transition-property: background, color;
  transition-duration: 200ms;
}
section#classes ul a.active {
  background: #ec7404;
  color: #222;
}
section#classes ul a:hover {
  background: #fb8e28;
  border-color: #fb8e28;
  color: #222;
}
section#results p {
  text-align: center;
}
section#results table {
  border: none;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}
section#results table.hidden {
  display: none;
}
section#results table thead {
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  background: #222;
}
section#results table thead th {
  border-bottom: 1px solid #ec7404;
  padding: 0.4rem 0;
}
section#results table tbody {
  font-size: 1rem;
}
section#results table tbody tr:nth-child(even) {
  background: rgba(236, 116, 4, 0.0901960784);
}
section#results table tbody tr td {
  padding: 0.4rem;
}
@media screen and (max-width: 430px) {
  section#results table thead {
    font-size: 0.9rem;
  }
  section#results table tbody {
    font-size: 0.8rem;
  }
}
section#competition-infos p {
  font-size: 0.9rem;
}
section#settings-wrapper {
  z-index: 1;
  position: fixed;
  border: none;
  -webkit-backdrop-filter: brightness(50%) blur(5px);
          backdrop-filter: brightness(50%) blur(5px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  display: grid;
  place-items: center;
}
section#settings-wrapper.hidden {
  display: none;
}
section#settings-wrapper #settings-card {
  background: #222;
  padding: 1rem;
  border-radius: 1rem;
  width: max(200px, 75vw);
}
section#settings-wrapper #settings-card ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
section#settings-wrapper #settings-card ul li {
  margin-top: 1rem;
  display: block;
  border-top: 1px solid #ec7404;
  position: relative;
  padding-top: 1.5rem;
}
section#settings-wrapper #settings-card ul li h3 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #222;
  padding: 0 1rem;
}
section#settings-wrapper #settings-card ul li select, section#settings-wrapper #settings-card ul li button, section#settings-wrapper #settings-card ul li p, section#settings-wrapper #settings-card ul li span {
  font-size: 0.9rem;
}
section#settings-wrapper #settings-card ul li select {
  background: #333;
  color: #eee;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  margin: auto;
  display: block;
  transition: 70ms;
}
section#settings-wrapper #settings-card ul li select:focus, section#settings-wrapper #settings-card ul li select:hover {
  outline: 2px solid #ec7404;
}
section#settings-wrapper #settings-card ul li button {
  padding: 10px;
  border-radius: 15px;
  border: none;
  margin: auto;
  display: block;
}
section#settings-wrapper #settings-card ul li p {
  text-align: center;
  margin-bottom: 10px;
}
section#settings-wrapper #settings-close-btn {
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  padding: 5px;
  transform: translate(-5px, -5px);
}

.btn-like {
  background: #333;
  color: #eee;
  transition: 200ms;
  transition-property: background, scale, box-shadow;
}
.btn-like:hover {
  box-shadow: 0 0 10px #111;
  background: #ec7404;
  scale: 1.015;
}