* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background: #222;
    color: #eee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: min(100%, 1200px);
    margin: auto;
}

header {
    margin: 1.5rem 0 2.5rem;
    position: relative;
    position: relative;

    .nav-icon {
        font-size: 1.7rem;
        position: absolute;
        cursor: pointer;
    }

    h1 {
        text-align: center;
        font-size: 2.5rem;
    }

    #settings {
        top: 50%;
        right: 30px;
        translate: 0 -50%;
        transition: rotate 250ms;

        &:hover {
            rotate: 90deg;
        }
    }

    #nav-home {
        top: 50%;
        left: 30px;
        translate: 0 -50%;
    }
}

section {
    padding: 2rem 1rem;
    border-top: 1px solid #ec7404;
    position: relative;

    &#search {

        input {
            padding: 10px;
            font-size: 1rem;
            color: #222;
            margin: auto;
            display: block;
            border-radius: 10px;
            border: none;
            width: min(100%, 400px);
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            transition: outline 60ms;

            &:focus, &:hover {
                outline: 2px solid #ec7404;
            }
        }

        #result-count {
            margin: 0.7rem 0;
        }
    }


    h2.section-title {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -60%);
        background: #222;
        padding: 0 1rem;
        white-space: nowrap;
    }

    ul.competitions-list {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: 1fr;

        li a {
            height: 100%;
            display: block;
            padding: 0.75rem 1rem;
            border-radius: 0.5rem;
            text-decoration: none;
            font-weight: bold;

            &:hover p {
                color: #2f2f2f;
            }

            h3 {
                font-size: 1.1rem;
                color: #eee;
            }

            p {
                font-size: 0.7rem;
                color: #999;
                transition: color 200ms;
            }
        }
    }

    ul#date-list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        ul.competitions-list {
            margin: 1rem 0;
        }

        details[open] summary::before {
            rotate: 90deg;
        }

        summary {
            font-size: 1.4em;
            width: fit-content;
            cursor: pointer;
            color: #bbb;
            user-select: none;
            font-family: monospace;
            transition: color 200ms;
            // padding-left: 10px;

            &::-webkit-details-marker {
                display: none;
            }

            &::before {
                content: '▶';
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                display: inline-block;
                margin-right: 5px;
                transition: rotate 100ms;
            }

            &:hover {
                color: #eee;
            }
        }
    }

    &#classes {

        ul {
            display: flex;
            overflow-x: scroll;
            gap: 1rem;
            padding-right: 2px;
            padding-bottom: 15px;

            a {
                white-space: nowrap;
                display: block;
                border: 1px solid #ec7404;
                border-radius: 20px;
                padding: 10px 15px;
                cursor: pointer;
                transition-property: background, color;
                transition-duration: 200ms;

                &.active {
                    background: #ec7404;
                    color: #222;
                }

                &:hover {
                    background: lighten(#ec7404, 10%);
                    border-color: lighten(#ec7404, 10%);
                    color: #222;
                }
            }
        }

    }

    &#results {
        p {
            text-align: center;
        }

        table {
            border: none;
            border-collapse: collapse;
            text-align: center;
            width: 100%;

            &.hidden {
                display: none;
            }

            thead {
                font-size: 1.2rem;
                position: sticky;
                top: 0;
                background: #222;
                
                th {
                    border-bottom: 1px solid #ec7404;
                    padding: 0.4rem 0;
                }
            }

            tbody {
                font-size: 1rem;

                tr {

                    &:nth-child(odd) {
                        background: #ec740417;
                    }

                    td {
                        padding: 0.4rem;
                    }
                }
            }

            @media screen and (max-width: 430px) {
                thead {
                    font-size: 0.9rem;
                }

                tbody {
                    font-size: 0.8rem;
                }
            }
        }
    }

    &#competition-infos {
        p {
            font-size: 0.9rem;
        }
    }

    &#settings-wrapper {
        z-index: 1;
        position: fixed;
        border: none;
        backdrop-filter: brightness(50%) blur(5px);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        display: grid;
        place-items: center;

        &.hidden {
            display: none;
        }

        #settings-card {
            background: #222;
            padding: 1rem;
            border-radius: 1rem;
            width: max(200px, 75vw);

            ul {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                li {
                    margin-top: 1rem;
                    display: block;
                    border-top: 1px solid #ec7404;
                    position: relative;
                    padding-top: 1.5rem;

                    h3 {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: #222;
                        padding: 0 1rem;
                    }

                    select, button, p, span {
                        font-size: 0.9rem;
                    }

                    select {
                        background: #333;
                        color: #eee;
                        padding: 10px 20px;
                        border-radius: 15px;
                        border: none;
                        margin: auto;
                        display: block;
                        transition: 70ms;

                        &:focus, &:hover {
                            outline: 2px solid #ec7404;
                        }
                    }

                    button {
                        padding: 10px;
                        border-radius: 15px;
                        border: none;
                        margin: auto;
                        display: block;
                    }

                    p {
                        text-align: center;
                        margin-bottom: 10px;
                    }
                }
            }
        }

        #settings-close-btn {
            cursor: pointer;
            display: inline-block;
            font-size: 1.4rem;
            padding: 5px;
            transform: translate(-5px, -5px);
        }
    }
}

.btn-like {
    background: #333;
    color: #eee;
    transition: 200ms;
    transition-property: background, scale, box-shadow;

    &:hover {
        box-shadow: 0 0 10px #111;
        background: #ec7404;
        scale: 1.015;
    }
}

.loading {
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.loading-spinner {
    display: block;
    width: 12px;
    aspect-ratio: 1 / 1;
    background: conic-gradient(#222, #ec7404);
    border-radius: 100%;
    animation: spinner infinite 1s;
}

@keyframes spinner {
    to {
        rotate: 360deg;
    }
}